{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load humanize %}

<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            {% include 'accounts/dashboard_sidebar.html '%}
	        <div class="col-md-9">
                {% include 'includes/alerts.html' %}
                <form action="{% url 'changePassword' %}" method="POST">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Change password</h4>
	    	        	<div class="col-md-6 form-group">
	    	        		<label>Current password</label>
	    	        	  	<input type="password" class="form-control" name="current_password" placeholder="Current Password" required>
	    	        	</div>
                        <div class="col-md-6 form-group">
	    	        		<label>New password</label>
	    	        	  	<input type="password" class="form-control" name="new_password" placeholder="New Password" required>
	    	        	</div>
                        <div class="col-md-6 form-group">
	    	        		<label>Confirm password</label>
	    	        	  	<input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
	    	        	</div>
	    	        <button type="submit" class="btn btn-primary btn-block col-md-6">Change</button>
                </div> <!-- card-body.// -->
                </div> <!-- card .// -->
                </form>
                </div>
        </div>
    </div>
</section>

{% endblock %}