{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load humanize %}
<section class="section-pagetop bg">
	<div class="container">
		<h2 class="title-page">My orders</h2>
	</div> <!-- container //  -->
</section>

<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            {% include 'accounts/dashboard_sidebar.html '%}
	        <div class="col-md-9">
            {% for order in orders%}
                <article class="card order-group">
					<a href="{% url 'order_detail' order.order_number %}" class="card-header">
                    	<b class="d-inline-block mr-3">Order ID: {{ order.order_number }}</b>
                    	<span>{{ order.created_at }}</span>
					</a>
                    <div class="card-body">
                    	<div class="row">
                    		<div class="col-md-4">
                    			<h6 class="text-muted">Payment</h6>
                    			<span class="text-success">
                                {% if order.payment.payment_method == 'paypal' %}
									<i class="fab fa-lg fa-cc-paypal"></i> Paypal
                                {% elif order.payment.payment_method == 'credit-card' %}
                    				<i class="fab fa-lg fa-cc-visa"></i> Credit Card
								{% elif order.payment.payment_method == 'cod' %}
                    				<i class="fas fa-money-bill-wave"></i> Cash on delivery
                                {% endif %}
                    			</span>
                            
                    			<p>Subtotal: $356 <br>
                    			 Shipping fee:  $56 <br> 
                    			 <span class="b">Total: {{ order.order_total|floatformat:0|intcomma }}đ</span>
                    			</p>
                            
                    		</div>
                    		<div class="col-md-4">
                    			<h6 class="text-muted">Contact</h6>
                    			<p>{{ order.full_name}} <br> {{ order.phone_number }} <br> {{ order.email }}</p>
                    		</div>
                    		<div class="col-md-4">
                    			<h6 class="text-muted">Shipping address</h6>
                    			<p> {{ order.full_address }} </p>
                    		</div>
                    	</div> <!-- row.// -->
                    </div>
                </article>
                <br>
				<!-- <div class="table-responsive">
		            <table class="table table-hover">
                        {% for item in order_detail %}
		            	<tr>
		            		<td width="65">
                                <a href="{{ item.product.get_url }}">
					                <img src="{{ item.product.image.url }}" class="img-xs border">
				                </a>
		            		</td>
		            		<td width="300"> 
		            			<p class="title mb-0">{{ item.product.product_name }}</p>
		            			<var class="price text-muted">{{ item.product.price|floatformat:0|intcomma }}đ</var>
		            		</td>
		            		<td width="200"> 
                                {% if item.variation.all %}
					                {% for pitem in item.variation.all %}
						                {{ pitem.variation_category }}: {{ pitem.variation_value }} <br>
					                {% endfor %}
			                    {% endif %}
                            </td>
                            <td width="80">
                                <p>Quatity: {{ item.quantity }}</p>
                            </td>
		            	</tr>
                        {% endfor %}
		            </table>
		        </div> -->
                {% endfor %}
            </div>
        </div>
    </div>
</section>


{% endblock %}