container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true

  02_createsuperuser:
    command: >
      source /var/app/venv/*/bin/activate &&
      python manage.py shell -c "from accounts.models import Account; 
if Account.objects.filter(email='newadmin@example.com').exists(): 
    Account.objects.filter(email='newadmin@example.com').delete(); 
Account.objects.create_superuser('New', 'Admin', 'newadmin@example.com', 'adminuser', 'YourStrongPassword123!')"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: webapp.settings
