container_commands:
  01_migrate:
    command: |
      source /var/app/venv/*/bin/activate
      python manage.py migrate
    leader_only: true

  02_createsuperuser:
    command: |
      source /var/app/venv/*/bin/activate
      python manage.py shell -c "
from accounts.models import Account;
Account.objects.filter(email='thaiduongbt123@gmail.com').exists() or
Account.objects.create_superuser(
    first_name='Thai',
    last_name='Nguyen',
    email='thaiduongbt123@gmail.com',
    username='Admin',
    password='toiiuvietnam1812VAN@'
)"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: webapp.settings