container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true

  02_createsuperuser:
    command: |
      source /var/app/venv/*/bin/activate && python manage.py shell -c "from accounts.models import Account; \
if Account.objects.filter(email='thaiduongbt123@gmail.com').exists(): \
    Account.objects.filter(email='thaiduongbt123@gmail.com').delete(); \
Account.objects.create_superuser('Duong', 'Nguyen', 'thaiduongbt123@gmail.com', 'admin_user', 'toiiuvietnam1812VAN@')"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: webapp.settings
