{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load humanize %}
<section class="section-content padding-y bg">
<div class="container">
	<form action="{% url 'place_order' %}" method="POST">
	{% csrf_token %}
<!-- ============================ COMPONENT 2 ================================= -->
 <article class="card mb-4">
    <div class="card-body">
<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col">Product</th>
  <th scope="col" width="200">Category</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" width="120" class="text-right">Quantity</th>
  <th scope="col" width="200" class="text-right"> Total </th>
</tr>
</thead>
<tbody>
{% for cart_item in cart_items %}
<tr>
	<td>
		<figure class="itemside">
			<div class="aside">
				<a href="{{ cart_item.product.get_url }}">
					<img src="{{ cart_item.product.image.url }}" class="img-sm">
				</a>
			</div>
			<figcaption class="info">
				<a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
				<p class="text-muted small">
				</p>
			</figcaption>
		</figure>
	</td>
	<td>
		<div class="info">
			{% if cart_item.variation.all %}
					{% for item in cart_item.variation.all%}
						{{ item.variation_category }}: {{ item.variation_value }} <br>
					{% endfor %}
			{% endif %}
		</div>
	</td>
	<td> 
        <div class="price-wrap"> 
			<var class="price">{{ cart_item.product.price|floatformat:0|intcomma }}đ</var> 
		</div>
	</td>
	<td> 
		<div class="price-wrap text-right"> 
			<var class="price">{{ cart_item.quantity }}</var> 
		</div> <!-- price-wrap .// -->
	</td>
    <td> 
		<div class="price-wrap text-right"> 
			<var class="price">{{ cart_item.sub_total|floatformat:0|intcomma }}đ</var> 
		</div> <!-- price-wrap .// -->
	</td>
</tr>
{% endfor %}

</tbody>
</table>
</div> <!-- card-body.// -->
</article> <!-- card.// -->

    <article class="card mb-4">
    <div class="card-body">
    	<h4 class="card-title mb-4">Contact info</h4>
    		<div class="row">
    			<div class="form-group col-sm-6">
    				<label>First name</label>
    				<input type="text" placeholder="Type here" class="form-control" name="first_name">
    			</div>
    			<div class="form-group col-sm-6">
    				<label>Last name</label>
    				<input type="text" placeholder="Type here" class="form-control" name="last_name">
    			</div>
    			<div class="form-group col-sm-6">
    				<label>Phone</label>
    				<input type="text" value="+998" class="form-control" name="phone_number">
    			</div>
    			<div class="form-group col-sm-6">
    				<label>Email</label>
    				<input type="email" placeholder="example@gmail.com" class="form-control" name="email">
    			</div>
				<div class="form-group col-sm-12">
    				<label>Note</label>
    				<textarea type="text" placeholder="Note" class="form-control" name="order_note"></textarea> 
    			</div>
    		</div> <!-- row.// -->	
    </div> <!-- card-body.// -->
    </article> <!-- card.// -->


    <article class="card mb-4">
    <div class="card-body">
    	<h4 class="card-title mb-4">Delivery info</h4>
    		<div class="row">
				
    				<div class="form-group col-sm-4">
    					<label>House, Street</label>
    					<input type="text" placeholder="" class="form-control" name="address_line1">
    				</div>
    				<div class="form-group col-sm-4">
    					<label>Village</label>
    					<input type="text" placeholder="Type here" class="form-control" name="village">
    				</div>
    				<div class="form-group col-sm-4">
    					<label>Province</label>
    					<input type="text" placeholder="" class="form-control" name="province">
    				</div>
    		</div> <!-- row.// -->	
    </div> <!-- card-body.// -->
    </article> <!-- card.// -->


    <article class="accordion" id="accordion_pay">
    	<div class="card">
    		<header class="card-header">
    			<img src="./images/misc/payment-paypal.png" class="float-right" height="24"> 
    			<label class="form-check collapsed" data-toggle="collapse" data-target="#pay_paynet">
    				<input class="form-check-input" name="payment-option" checked type="radio" value="option2">
    				<h6 class="form-check-label"> 
    					Paypal 
    				</h6>
    			</label>
    		</header>
    		<div id="pay_paynet" class="collapse show" data-parent="#accordion_pay">
    		<div class="card-body">
    			<p class="text-center text-muted">Connect your PayPal account and use it to pay your bills. You'll be redirected to PayPal to add your billing information.</p>
    			<p class="text-center">
    				<a href="#"><img src="./images/misc/btn-paypal.png" height="32"></a>
    				<br><br>
    			</p>
    		</div> 
    		</div> 
    	</div> 
    	<div class="card">
    	<header class="card-header">
    		<img src="./images/misc/payment-card.png" class="float-right" height="24">  
    		<label class="form-check" data-toggle="collapse" data-target="#pay_payme">
    			<input class="form-check-input" name="payment-option" type="radio" value="option2">
    			<h6 class="form-check-label"> Credit Card  </h6>
    		</label>
    	</header>
    	<!-- <div id="pay_payme" class="collapse" data-parent="#accordion_pay">
    		<div class="card-body">
    			<p class="alert alert-success">Some information or instruction</p>
    			<form class="form-inline">
    				<input type="text" class="form-control mr-2" placeholder="xxxx-xxxx-xxxx-xxxx" name="">
    				<input type="text" class="form-control mr-2" style="width: 100px"  placeholder="dd/yy" name="">
    				<input type="number" maxlength="3" class="form-control mr-2"  style="width: 100px"  placeholder="cvc" name="">
    				<button class="btn btn btn-success">Button</button>
    			</form>
    		</div>
    	</div>-->
    	</div>

    </article>

    <article class="card mb-4">
    <div class="card-body">
        <dl class="row">
		  <dt class="col-sm-10">Subtotal: <span class="float-right text-muted">2 items</span></dt>
		  <dd class="col-sm-2 text-right"><strong>{{ total|floatformat:0|intcomma }}đ</strong></dd>

		  <dt class="col-sm-10">Discount: <span class="float-right text-muted">{{ discount_percent|floatformat:0}}% offer</span></dt>
		  <dd class="col-sm-2 text-danger text-right"><strong>{{ discount|floatformat:0|intcomma }}đ</strong></dd>

		  <dt class="col-sm-10">Delivery charge: <span class="float-right text-muted">Express delivery</span></dt>
		  {% if grand_total <= 100000 %}
		  <dd class="col-sm-2 text-right"><strong>40.000đ</strong></dd>
		  {% elif grand_total <= 500000 %}
		  <dd class="col-sm-2 text-right"><strong>20.000đ</strong></dd>
		  {% else %}
		  <dd class="col-sm-2 text-right"><strong class="text-success">Free</strong></dd>
		  {% endif %}

		  <dt class="col-sm-10">Tax: <span class="float-right text-muted">2%</span></dt>
		  <dd class="col-sm-2 text-right text-success"><strong>{{ tax|floatformat:0|intcomma }}đ</strong></dd>

		  <dt class="col-sm-10">Total:</dt>
		  <dd class="col-sm-2 text-right"><strong class="h5 text-dark">{{ grand_total|floatformat:0|intcomma }}đ</strong></dd>
		</dl>

        <hr>

        <dl class="row">
          <dt class="col-sm-10 text-muted">Clicking "Place Order" means that you agree to obey <a href="#">the terms and conditions</a>.</dt>
          <dd class="col-sm-2 text-right">
			<button type="submit" name="submit" class="btn btn-primary btn-block"> Place order </button>
		</dd>
		</dl>
        
        
    </div>
    </article> <!-- card.// -->
</form>
</div> <!-- container .//  -->
</section>

{% endblock %}
<!-- ============================ COMPONENT 2 END//  ================================= -->
